@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Genova.Temp.SharedResource> Localizer
@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
    var currentCulture = LocalizationService.CurrentPageCulture;
    var htmlLangAtt = $"lang=\"{currentCulture.Name}\"";
    var htmlDirAtt = (currentCulture.TextInfo.IsRightToLeft) ? "dir=\"rtl\"" : "dir=\"ltr\"";
}

<!DOCTYPE html>
<html @Html.Raw(htmlLangAtt) @Html.Raw(htmlDirAtt)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="stylesheet" href="~/-/styles/site.css" asp-append-version="true" />
</head>
<body class="sticky-header sticky-footer">
    <div id="top"></div>

    @await Html.PartialAsync("_NavigationAids")

    @await Html.PartialAsync("_Masthead")

    <div class="page">

        <div data-component="drawer">

            @await Html.PartialAsync("_SiteNavigation")

            @await Html.PartialAsync("_UtilityBar")

        </div>

        <main id="content">
            @RenderBody()
            @await Html.PartialAsync("_BackToTop")
        </main>

        <footer data-component="mastfoot">
            @await Html.PartialAsync("_FootAbout")
            @* @await Html.PartialAsync("_FootDebug") *@
        </footer>

    </div>

    <script src="~/-/scripts/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
