@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Genova.Temp.SharedResource> Localizer
@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
    var currentCulture = LocalizationService.CurrentPageCulture;
    var htmlLangAtt = $"lang=\"{currentCulture.Name}\"";
    var htmlDirAtt = (currentCulture.TextInfo.IsRightToLeft) ? "dir=\"rtl\"" : "dir=\"ltr\"";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="stylesheet" href="~/-/styles/site.css" asp-append-version="true" />
</head>
<body>
    <div id="top"></div>

    <div data-component="navigation-aids">
        <a href="#content">Skip to content</a>
    </div>

    <header data-component="masthead">
        <div><strong>Site Title</strong></div>
    </header>

    <div data-component="drawer">

        <nav data-component="site-navigation" aria-label="Main Navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>

        <div data-component="utility-bar">
            <button type="button">Theme</button>
            <button type="button">Language</button>
        </div>

    </div>

    <main id="content">
        <h1>Page Title</h1>
        <p>Page content</p>
        @RenderBody()
        <a href="#top">Back to top</a>
    </main>

    <footer data-component="mastfoot">
        <p>Footer information here.</p>
    </footer>

    <script src="~/-/scripts/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
