@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Genova.Temp.SharedResource> Localizer
@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
    var defaultCulture = LocalizationService.DefaultCulture.Name.ToLowerInvariant();
    var currentPageCulture = LocalizationService.CurrentPageCulture.Name.ToLowerInvariant();
    var supportedCultures = LocalizationService.SupportedUICultures;
    var htmlLangAtt = $"lang=\"{currentPageCulture}\"";
    var htmlDirAtt = (System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft) ? "dir=\"rtl\"" : "dir=\"ltr\"";
}

<!DOCTYPE html>
<html @Html.Raw(htmlLangAtt)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="stylesheet" href="~/-/styles/site.css" asp-append-version="true" />
</head>
<body>
    <div id="top"></div>
    <header>
        @await Html.PartialAsync("_LanguageSwitcher")
        @await Html.PartialAsync("_Masthead")
        @await Html.PartialAsync("_SiteNavigation", "top")
    </header>

    <main>
        @RenderBody()
        @await Html.PartialAsync("_BackToTop", "top")
    </main>

    <footer>
        @await Html.PartialAsync("_FootAbout")
        @await Html.PartialAsync("_FootDebug")
    </footer>

    <script src="~/-/scripts/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
