@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
}
<header data-component="masthead">
    <div>
        <strong localize>
            <case culture="zh-HK">測試網站</case>
            <case culture="zh">测试网站</case>
            <case culture="ar">موقع اختبار</case>
            <case culture="he">אתר בדיקה</case>
            <case culture="fa">وب سایت آزمایشی</case>
            <case culture="ur">ٹیسٹ ویب سائٹ</case>
            <case culture="ja">テストウェブサイト</case>
            <case culture="th">เว็บไซต์ทดสอบ</case>
            <case culture="ko">테스트 웹사이트</case>
            <case culture="el">Ιστότοπος δοκιμών</case>
            <case culture="hi">परीक्षण वेबसाइट</case>
            <case culture="en">Test Website</case>
        </strong>
    </div>
</header>