@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
    var utilityBarTitles = new string[,]
    {
        { "zh-HK", "工具欄" },  // Traditional Chinese
        { "zh", "工具栏" },    // Simplified Chinese
        { "ar", "شريط الأدوات" },  // Arabic
        { "he", "סרגל כלים" },  // Hebrew
        { "fa", "نوار ابزار" },  // Persian
        { "ur", "یوٹیلیٹی بار" }, // Urdu
        { "ja", "ユーティリティバー" },  // Japanese
        { "th", "แถบเครื่องมือ" },  // Thai
        { "ko", "유틸리티 바" },  // Korean
        { "el", "Γραμμή εργαλείων" },  // Greek
        { "hi", "उपयोगिता पट्टी" },  // Hindi
        { "en", "Utility bar" }  // English
    };

    var utilityBarTitle = LocalizationHelper.GetLocalizedValue(utilityBarTitles);

}
<div data-component="skip-to-content">
    <a href="#content" localize>
        <case culture="zh-HK">跳到內容</case>
        <case culture="zh">跳到内容</case>
        <case culture="ar">تخطي إلى المحتوى</case>
        <case culture="he">דלג לתוכן</case>
        <case culture="fa">رفتن به محتوا</case>
        <case culture="ur">مواد پر جائیں</case>
        <case culture="ja">コンテンツにスキップ</case>
        <case culture="th">ข้ามไปยังเนื้อหา</case>
        <case culture="ko">콘텐츠로 건너뛰기</case>
        <case culture="el">Μετάβαση στο περιεχόμενο</case>
        <case culture="hi">सामग्री पर जाएं</case>
        <case culture="en">Skip to content</case>
    </a>
</div>