@inject Genova.Temp.Localization.ILocalizationService LocalizationService

@{
}
<div data-component="utility-bar">
    <div>
        <a href="#content" class="sr-only sr-only-focusable" localize>
            <case culture="zh-HK">跳到內容</case>
            <case culture="zh">跳到内容</case>
            <case culture="ar">تخطي إلى المحتوى</case>
            <case culture="he">דלג לתוכן</case>
            <case culture="fa">رفتن به محتوا</case>
            <case culture="ur">مواد پر جائیں</case>
            <case culture="ja">コンテンツにスキップ</case>
            <case culture="th">ข้ามไปยังเนื้อหา</case>
            <case culture="ko">콘텐츠로 건너뛰기</case>
            <case culture="el">Μετάβαση στο περιεχόμενο</case>
            <case culture="hi">सामग्री पर जाएं</case>
            <case culture="en">Skip to content</case>
        </a>
    </div>
    <div data-component="theme-selector"></div>
</div>
<hr />