//*****************************************************/
/*** Navigations
*/
//*****************************************************/

@use "../abstracts/mixins" as mixins;


$menu-font-size: 1rem;



// *******************************
// Main site navigation
// *******************************

[data-component="site-navigation"] {
    ul {
        margin: 0;
        padding: 0;
        list-style: none; // Remove bullet points
        width: 100%; // Ensure the navigation takes full width
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        font-size: $menu-font-size;
        display: inline-block;
        padding: 0.5 * $menu-font-size;
        text-decoration: none;
    }
    // Styles for small screens (mobile)
    @include mixins.device-small() {
        ul {
            width: 100%; // Full width of the container
        }

        a {
            display: block; // Make links take full width
            width: 100%;
            border-bottom: 1px solid var(--border-color, #ccc); // Add bottom border
        }
    }
    // Styles for larger screens (tablet and up)
    @include mixins.device-large() {
        ul {
            width: 100%; // Full width of the container
            border-top: 1px solid var(--border-color, #ccc); // Add top border
            border-bottom: 1px solid var(--border-color, #ccc); // Add bottom border
            display: flex; // Align <li> items horizontally
        }

        li {
            flex: none; // Do not stretch to full width
        }

        a {
            display: inline-block; // Ensure links only take their natural width
        }
    }
}

// *******************************
// Drawer
// *******************************


#hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    cursor: pointer;
    z-index: 1100; // Ensure it's on top
    background-color: var(--bg-color);
    padding: 0.5 * $menu-font-size;

    &:hover, &:focus {
        background-color: var(--bg-subtle);
    }
}

body.sticky-header {
    #hamburger {
        position: fixed;
    }

    &.drawer-open {
        #hamburger {
            position: absolute;
        }
    }
}

html[dir="rtl"] {
    #hamburger {
        right: auto;
        left: 0;
        flex-direction: row-reverse;
    }
}

#hamburger {
    .menu-text {
        font-size: $menu-font-size;
        font-weight: bold;
        padding-right: 0.5 * $menu-font-size;
    }

    .menu-icon {
        position: relative;
        width: 1.5 * $menu-font-size;
        height: 1.125 * $menu-font-size;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;

        span {
            display: block;
            width: 1.5 * $menu-font-size;
            height: 0.1875 * $menu-font-size;
            background-color: var(--text-color);
            border-radius: 0.125 * $menu-font-size;
            transition: all 0.3s ease-in-out;
        }
    }
}

html[dir="rtl"] {
    #hamburger .menu-text {
        padding-left: 0.5 * $menu-font-size;
        padding-right: 0;
    }
}

body.drawer-open {
    #hamburger {
        .menu-text {
            display: none;
        }

        .icon {
            padding-left: 0.5 * $menu-font-size;
        }
    }

    .menu-icon {
        span:nth-child(1) {
            transform: translateY(0.46875 * $menu-font-size) rotate(45deg);
            transform-origin: center;
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: translateY(-0.46875 * $menu-font-size) rotate(-45deg);
            transform-origin: center;
        }
    }
}

@include mixins.device-small() {
    #hamburger {
        display: flex;
    }

    body.drawer-open.overlayed {
        #overlay {
            display: block;
        }
    }

    body.js-enabled {
        [data-component="drawer"] {
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: var(--bg-color);
            box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
            overflow-x: hidden;
            overflow-y: auto;
            min-width: 250px;
            max-width: 100vw;
            width: auto;
            transform: translateX(calc(100% + 10px));
            z-index: 1050;
        }
    }

    body.js-enabled.drawer-open {
        [data-component="drawer"] {
            transform: translateX(0);
        }
    }

    html[dir="rtl"] {
        body.js-enabled {
            [data-component="drawer"] {
                right: auto;
                left: 0;
                transform: translateX(calc(-100% - 10px));
            }
        }

        body.js-enabled.drawer-open {
            [data-component="drawer"] {
                transform: translateX(0);
            }
        }
    }
}
